#main{
    background-color: grey;
    position: relative;
    text-align: center;
    color: white;
    padding: 0%;
}

.banner{
  min-width: 100%;
}

.text-banner{
    
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
      
}

