
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#main{
    /* background-image: url(../data/Img/space.jpeg); */
    text-align: center;
    padding: 0%;
    
}

.white{
color: white      
}



h1{
  font-family: 'Lobster', cursive;
  font-size: 300%;
}

.subtitle{
  font-family: 'Lobster', cursive;
  font-size: 150%;
}

.active-class {
  opacity: 1;
  transition: 4s;
  margin-bottom: 1.5em;
}
.hide-classname {
  opacity: 0;
  
}
