.bgBlack{
  background: black;
}


.logo{
     width: 12em;
     margin-left: 1em;
}

.headLink:hover{

    color: #F0422F !important;
}

.topLane {
    border-bottom: solid #F0422F ;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: transparent;  
  }

  .botLane {
    border-top: solid #F0422F ;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }

  



  /**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */

  .focus-in-expand {
    -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
